<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	 <bean id="mailSender2" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.qq.com"></property><!-- 服务器 -->
		<property name="port" value="465"></property><!-- 端口 -->
		<property name="username" value="2018288154"></property><!-- 用户名 -->
		<property name="password" value="tvuflbnqgwxweafh"></property><!-- 密码 -->
		<property name="protocol" value="smtp" ></property><!-- 协议 -->
		<property name="defaultEncoding" value="utf-8"></property><!-- 默认编码 -->
		<property name="javaMailProperties">
			<props>
				<!-- 设置SMTP服务器需要用户验证 --> 
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.ssl.enable">true</prop>
			</props>
		</property>
	</bean> 
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
			<property name="host" value="smtp.163.com"></property><!-- 服务器 -->
		<property name="port" value="465"></property><!-- 端口 -->
		<property name="username" value="it_dashuaige@163.com"></property><!-- 用户名 -->
		<property name="password" value="LXLleihaha168"></property><!-- 密码 -->
		<property name="protocol" value="smtp" ></property><!-- 协议 -->
		<property name="defaultEncoding" value="utf-8"></property><!-- 默认编码 -->
		<property name="javaMailProperties">
			<props>
				<!-- 设置SMTP服务器需要用户验证  -->
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.ssl.enable">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="freeMarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<!-- 指定模板文件路径 -->
		<property name="templateLoaderPath" value="/"></property>
		<!-- 设置FreeMarker环境变量  -->
		<property name="freemarkerSettings">
			<props>
				<prop key="default_encoding">UTF-8</prop>
			</props>
		</property>
	</bean>
	
	<!-- <bean id="mailFujian"  class="com.lhh.test.EmailFujian">
		<property name="mailSender" ref="mailSender"></property>
	</bean> -->
	
	<!-- <bean id="mailHtml" class="com.lhh.email.EmailHtml">
		<property name="mailSender" ref="mailSender"></property>
		<property name="freeMarkerConfiguration" ref="freeMarkerConfiguration"></property>
	</bean> -->
</beans>